.container-list {
  margin-top: 50px;
}

.button-list {
  margin: 10px 0px 20px 0px;
}

.button-list-back {
  position: relative;
  left: 80%;
  transform: translate(-50%, 30%);
  margin-bottom: 20px;
  z-index: 10;
}
.button-list-back i {
  font-size: 1.5rem;
  margin: 10px 5px 0px 0px;
}

.container-login {
  position: absolute;
  align-items: center;
  top: 20%;
  padding: 0px 200px 0px 200px;
}

.button-login {
  width: 100%;
}

.btn-salvar {
  margin-top: 20px;
}
